
:root {
  --main-color:#008000;

}
p{
  color: var(--main-color)
}


button{
  cursor: pointer;
  height: 30px;
  width: 70px;
}



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Arial Narrow Bold", sans-serif;
}

header {
  height: 200px;
  background-image: url("galen-crout-GVVRHcmd__I-unsplash.jpg");
  background-position: center;
  background-size: cover;
  /* position: relative; */
}
h1 {
  font-size: 4rem;
  color: rgb(227, 195, 10);
  text-transform: uppercase;
  text-shadow: 5px 5px  rgb(59, 59, 77);
}
nav {
  padding: 20px;
  background-color: #a2b7c5;

}
nav ul li {
  background-color: #fff;
  display: inline-block;
  padding: 10px 0;
  border-left: 2px solid #f50303;
  border-radius: 5px;
  width: 80px;
  text-align: center;

}
nav ul {
  text-align: end;

}
a{
    text-decoration:none;color: #070707;
}
h2 {
  text-transform: uppercase;
  text-align: center;
  padding: 50px;
  font-size: 2rem;
}
p {
  padding: 0 2rem 0 0;
  max-width: 30rem;

}
div{
    background-color: #a2b7c5;
    padding: 1rem;
    margin: 1rem;
}
section {
  display: flex;
  justify-content: center;
  margin: 2rem;
  flex-wrap: wrap;
}
img {

  height: 200px;


}
figure{
    margin: 0 2rem 2rem 0;
    float:left;
}














* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Delicious Handrawn', cursive;
  
}
.container {
  margin: 0 auto;
  background-color: #4e4e4e;
}
.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #4e4e4e;
  
}
li {
  list-style: none;
}
.footer {
  background-color: #4e4e4e;
  padding: 0% 0;
}
.footer-col {
  margin: 25px;
  padding-top: 10px;
  width: 150px;
  background-color: #4e4e4e;
}
h4 {
  font-size: 1.2rem;
  color: #ffffff;
  margin-bottom: 35px;
  font-weight: 400;
  border-bottom: 2px solid red;
}
.footer-col ul li a {
  font-size: 0.8rem;
  text-decoration: none;
  color: #9b9b9b;
  background-color: #4e4e4e;
}
.footer-col ul li a:hover {
  color: #ffffff;
  font-size: 1rem;
  background-color: #4e4e4e;
}
.footer-col .social-links a {
  display: inline;
  height: 2em;
  width: 2em;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  line-height: 2em;
  border-radius: 50%;
  color: #ffffff;
  background-color: #4e4e4e;
  
}

.footer-col .social-links a:hover {
  display: inline;
  color: #24262b;
  background-color: #ffffff;
  line-height: 2.5em;
  height: 2.5em;
  width: 2.5em;
  background-color: #4e4e4e;
}
.social-links {
  display: inline;
  background-color: #4e4e4e;
}